---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// Override max width
$max-width: 2480px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// Scrollbar
::-webkit-scrollbar {
    width: 8x;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary-color;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}


// Change padding added to main div
@media (min-width: 1500px) { #main {
    padding-left: 5em;
    padding-right: 5em;
} }

@media (min-width: 1850px) { #main {
    padding-left: 10em;
    padding-right: 10em;
} }